20pts: HTML Mastery
figure (Recipe)
aside ?

50pts: CSS Mastery
nth child (recipe cards? / ingredient list? / directions?)

80pts: Javascript Mastery
use of map and filter array functions

Functional Requirements

Hard Things (at least 25 points required, any more is extra credit)
Some of these "Hard Things" will require you to lean new tools. We will be going over c# apis and hosting in class.

10pts: Host Back-end api on cloud server
