:root {
  --button-background-color: #69392b;
  --card-background-color: #f7f7f7;
  --error-text-color: red;
}
.error {
    color: var(--error-text-color);
    margin: .25em;
    text-align: center;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
}
body {
  width: 100%;
}
main {
  width: 100%;
}
.button, button {
  width: 10em;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2em;

  input,
  select {
    margin-left: 0.5em;
    width: 15em;
  }
  h2 {
    margin: .5em;
    text-align: center;
  }
  section {
    display: flex;
    width: 100%;
    justify-content: stretch;
  }
  article {
    flex-grow: 1;
    background-color: var(--card-background-color);
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    div {
      margin: 0.25em;
    }
  }
  #upload-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 10em;
  }
  #recipe-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #ingredient-input-container {
    height: fit-content;
    flex-grow: 0;
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 0;
    }
    div {
      display: flex;
    }
    input {
      flex-grow: 1;
    }
    button {
      margin: auto;
    }
  }
  li {
    display: flex;
    align-items: center;
    width: fit-content;
    p {
      margin: 0;
    }
  }
  #directions-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin-bottom: 0;
    }
  }
  textarea {
    height: 20em;
    width: 100%;
  }
}
input[type="submit"] {
  scale: 1.2;
  width: 20em;
  margin-bottom: 3em;
}

/* Desktop */
@media screen and (min-width: 600px) {
  section {
    flex-direction: row;
  }
  #ingredient-input-container {
    width: fit-content;
  }
}
/* mobile */
@media screen and (max-width: 600px) {
  section {
    flex-direction: column;
    width: 100%;
  }
}
