:root {
  --header-background-color: #69392b;
  --nav-background-color: #45261c;
  --header-text-color: #f1e2df;
  --page-background-color: #ffb22c;

  --button-background-color: #69392b;
  --button-text-color: #f1e2df;

  --error-text-color: red;
}
body {
  margin: 0;
  background-color: var(--page-background-color);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button,
button {
  color: var(--card-background-color);
  background-color: var(--button-background-color);
  padding: 0.5em;
  border-radius: 1em;
}
.icon {
  height: 20px;
}
.large-icon {
  height: 30px;
}
/* .star { */
  /* filter: contrast(80%); */
  /* filter: saturate(50%); */
/* } */
.hidden {
  visibility: hidden;
}
.remove {
  display: none;
}
.error {
  color: var(--error-text-color);
  margin: .25em;
  text-align: center;
  width: 15em;
  margin-left: auto;
  margin-right: auto;
}
input:not(#image, [type="submit"]),
select,
textarea {
  padding: 0.25em;
  border-radius: 0.5em;
  border-style: solid;
  border-color: black;
}
a {
  color: var(--header-text-color);
  text-decoration: none;
  background-color: var(--header-background-color);
  padding: 0.5em;
  border-radius: 0.5em;
  transition-property: transform;
  transition: 0.5s;
}
a:hover {
  transform: scale(1.2);
}
nav {
  background-color: var(--nav-background-color);
  display: flex;
  justify-content: space-around;
  padding: 1em;
  border-radius: 0.5em;
}
header {
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  width: 100%;
  /* min-height: max-content; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;

  div {
    display: flex;
    align-items: center;
    width: 100%;
  }

  img {
    width: 65px;
    padding: 1em;
  }

  h1 {
    margin: 0.5;
    width: fit-content;
    /* padding-left: .5em  */
  }
}
main {
  flex-grow: 1;
  min-height: 0;
  width: 100%;
}
footer {
  background-color: var(--header-background-color);

  width: 100%;
  height: fit-content;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 3em;
    text-align: center;
  }
  img {
    filter: invert();
  }
  p {
    margin: 0.3em;
  }
}
/* mobile */
@media screen and (max-width: 600px) {
  .mobile-hidden {
    display: none;
  }
  header {
    font-size: small;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    img {
      width: 40px;
    }
  }
  main {
    overflow-y: auto;
  }
}
/* desktop */
@media screen and (min-width: 600px) {
  .mobile-visible {
    display: none;
  }
}
