:root {
  --recipe-card-text-color: #1f1f1f;
  --recipe-card-background-color: #f7f7f7;
}
#search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  * {
    margin: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  #ServingSizeQuantity {
    width: 7em;
  }
}
input {
  font-family: inherit;
  margin-bottom: 1em;
  background-color: white;
  padding: 1em;
  border-radius: 10em;
  width: 30em;
  text-align: center;
}
.iconDiv {
  display: flex;
  flex-direction: column;
}
.recipe-card {
  color: var(--recipe-card-text-color);
  background-color: var(--recipe-card-background-color);

  display: flex;
  width: fit-content;

  border-radius: 1.5em;
  margin: 0.5em;

  figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      border-radius: 1em;
      height: 100px;
    }
    figcaption {
      position: relative;
    }
  }

  article {
    padding-top: 1em;

    h3,
    h4 {
      margin: 0;
    }
    div {
      display: flex;
      align-items: center;
      p {
        margin-left: 0.5em;
      }
    }
  }

  p {
    margin: 0;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

  .time-to-make {
    width: 15em;
  }
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  h2 {
    margin: 0.25em;
    padding: 0.5em;
    border-radius: 1.2em;
    text-align: center;
    background-color: var(--recipe-card-background-color);
    width: 70%;
  }
}
.recipe-container {
  display: flex;
  width: 100%;
}

/* mobile */
@media only screen and (max-width: 600px) {
  .recipe-container {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .recipe-card {
    flex-direction: column;
    padding: 1em;

    figure {
      padding: 0;
    }
  }
  .favorite-icon {
    display: none;
  }
  #search-bar {
    width: 50%;
  }

  .mark-complete {
    margin-top: 0.5em;
  }
}
/* desktop */
@media only screen and (min-width: 600px) {
  .recipe-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .recipe-card {
    flex-direction: row;

    figure {
      padding: 1em;
    }
    button {
      display: none;
    }
  }
  #search-bar-container {
    flex-direction: row;
  }
}
